#chart-wrapper {
    padding: 15px;
    margin: 20px;

    .nv-series {
        .nv-legend-text {
            font: normal 14px Lato;
        }
    }
    .nvd3 text {
        font: normal 14px arial;
    }
    .nv-groups {
        .nv-group {
            stroke-width: 5px !important;
        }
    }

    .btn-grp {
        label {
            margin-left: 20px;
        }
    }
}