#abs-wrapper {
    
}
#question-selector-wrapper {
    margin: 40px 60px 20px 60px;
}

#chart-wrapper {
    width: 65%;
}

#viz-widgets {
    margin-top: 60px;
}

#demog-selector {
    margin-left: 7%;
}

#year-selector {

}