div.ui-select-match {
    span.ui-select-toggle {
        white-space: normal;
    }
    i.dropdown-toggle {
        position: absolute;
        height: 10px;
        font-size: larger;
        top: 75%;
        right: 10px;
        margin-top: -2px; 
    }
}