div.ui-select-match {
    span.ui-select-toggle {
        white-space: normal;
        font-size: x-large;
    }

    i.dropdown-toggle {
        position: absolute;
        height: 10px;
        font-size: larger;
        top: 75%;
        right: 10px;
        margin-top: -2px; 
    }
}

.dropdown-header {
    font-size: larger;
}

ul.dropdown-menu.ui-select-choices {
    max-height: 300px;

    .dropdown-item {
        div {
            white-space: initial;
            font-size: x-large;
            margin: 10px 30px;
        }
    }
}

.modal-body {
    max-height: 700px; /* TODO: responsive */
    overflow: auto;

    .question-group-heading {
        margin: 30px 0px 10px;
    }
}