@font-face {
    font-family: "SeruffBold";
    src: url("assets/css/SeruffBold.woff") format("woff");
}

@font-face {
    font-family: "SeruffLight";
    src: url("assets/css/SeruffLight.woff") format("woff");
}

#group-heading {
    color: #246f79;
}
.question-group-heading,
.modal-title {
    font-family: SeruffBold;
}
.modal-body {
    max-height: 600px; /* TODO: responsive */
    overflow: auto;

    .question-group-heading {
        margin: 30px 0px 10px;
    }

    .list-group-item {
        font-size: 1.2rem;
        &:hover:not(.active) {
            background-color: #d1e7f9;
        }
    }
}

#selected-question {
    background: white;
    .card-title {
        font-family: SeruffBold;
    }
    .card-text {
        font-size: 1rem;
    }

   #open-question-modal {
       cursor: pointer;
       text-decoration: overline;
   }
}

